<!--Visualización de tarjetas-->
<!--div *ngIf="this.aanswers == 0" class="text-center">
	<h2>No existen respuestas hechas por el usuario</h2>
	<br><br>
	<i class="fas fa-frown fa-5x"></i>
	<br><br>
</div-->		

<div class="container-fluid" *ngFor="let answer of aanswers">
	<div *ngIf="answer.id_owner == this.auth.getUserDetails().id_user">
		<div class="notice notice-success notice-lg">
			<p>{{ answer.text }}</p>
			<hr>
			<strong>Precio acordado:</strong>
			<p>{{ answer.price | currency: 'USD'}}</p>
			<hr>
			<div *ngIf="answer.valorated">
				<button class="btn btn-success disabled btn-unlock">Esta respuesta ha sido marcada como útil</button>
			</div>
			<div *ngIf="!answer.valorated">
				<button class="btn btn-danger disabled btn-unlock">Esta respuesta NO fue útil</button>
			</div>
			<hr>
			<div class="text-right">

			   	&nbsp;
				<button type="button" class="btn btn-primary btn-modify" (click)="modify(template1, answer)"
				   tooltip="Modificar la respuesta" placement="bottom">
					  <i class="fas fa-pencil-alt"></i>
				  </button>
				  &nbsp;
				  <button type="button" class="btn btn-danger btn-delete" (click)="delet(template2, answer)"
					  tooltip="Eliminar la respuesta" placement="bottom">
					  <i class="fas fa-trash-alt"></i>
				  </button>
			</div>
		</div>
	</div>		
</div>		

<!--Modal para modificar la respuesta-->
<ng-template #template1>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Modificar respuesta</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef1.hide()">
				  <span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="container text-center">
				<div class="tab-content">
					
					<form #f="ngForm" class="form">										
						<div class="form-group">
							<div class="col-xs-6">
									<label for="name"><h4>Texto</h4></label>
									<textarea type="text"  name="text" class="form-control"  placeholder="{{selectedAnswer.text}}" [(ngModel)]="selectedAnswer.text">	
										</textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-6">
								<label for="descripcion"><h4>Descripción</h4></label><br>
								<input type="number" name="price" placeholder="{{selectedAnswer.price | currency:'USD'}}" [(ngModel)]="selectedAnswer.price">
							</div>
						</div>
						<hr>
						<div class="form-group text-center">
							<div class="col-xs-12">
								<br>
								<button class="btn btn-primary" (click)="update(f)" type="submit">Actualizar
												<i class="fas fa-sync-alt"></i>
								</button>
								<br><br>
								<button class="btn btn-cancelar btn-danger" (click)="modalRef1.hide()">Cancelar
												<i class="far fa-times-circle"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
</ng-template>

<!--Modal para eliminar la respuesta-->
<ng-template #template2>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Eliminar respuesta</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
			  <span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			¿Desea borrar de forma permanente la respuesta seleccionada?
			<br><br>
			<div class="text-center">
				<button (click)="delete()" class="btn btn-success" type="button">Sí</button>
				&nbsp;
				<button (click)="modalRef2.hide()" class="btn btn-danger btn-cancelar" type="button">No</button>
			</div>
		</div>
	</ng-template>

