<div *ngFor="let post of pposts">
	<div *ngFor="let answer of aanswers">
		<div *ngIf="(post.id_owner == this.auth.getUserDetails().id_user)">
			<div class="container-fluid"> 
				<div class="notice notice-success notice-lg">
				<i class="fas fa-info-circle fa-2x info"></i>&nbsp;Tienes una nueva respuesta en: <strong>{{post.title}}</strong>
					<!--div class="container text-right">
						<i class="far fa-clock"></i>&nbsp;
						<small><strong>{{objDate | date :'short'}}</strong></small>
					</div-->
				</div>
			</div>
		</div>		
	</div>	
</div>
