
.saludo{
    margin: 0 auto;
    width: 70%;   
    justify-content: center;
}

.titulo{    
    text-align: center;
    color: white;
    font-size: 90px;
    padding: 2px;
    background-size: cover;
    padding: 1px;
    font-family: 'Noto Sans KR', sans-serif;
}

.botones{
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
}

.btn-dark{
background-color: #060504;
border-color: #060504;  
}

.btn-dark:hover{
background-color:#343a40;
border-color: #343a40;
}

img
{
    width: 300px;
    height: 200px;
}

.dark
{
    background-color: #151515ba;
    color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
}   