.login-box
{
    background: #151515ba;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
}
  
.login-box .avatar 
{
    height: 120px;
    position: static;
    top: 24px;
    left: calc(50% - 107px);
}
  
.login-box h1 
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
  
.login-box label 
{
    margin: 0;
    padding: 0;
    display: block;
}
  
.login-box input 
{
    width: 100%;
    margin-bottom: 20px;
}
  
.login-box input[type="text"], .login-box input[type="password"] 
{
    border: none;
    border-bottom: 1px solid azure;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
  
.login-box input[type="submit"], input[type="button"] 
{
    border: none;
    outline: none;
    height: 40px;
    color: azure;
    font-size: 18px;
    border-radius: 20px;
}
  
.login-box input[type="submit"], input[type="button"]:hover
{
    cursor: pointer;
    color: azure;
}

.login-box a 
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
  
.login-box a:hover
{
    color: azure;
}

.login-box hr
{
    color: #151515ba;
}

