<div class="container">
      <h1 class="text-center">Mis Publicaciones</h1>

      	<br>
        <div class="containet text-center">
        	<button type="button" class="btn btn-success btn-create" (click)="create(template1)"
        	tooltip="Agregar nueva publicación" placement="bottom">
      			<i class="fas fa-plus fa-2x"></i>
  			</button>
        </div>
        <hr>

        <div class="container-fluid">
    		<div class="notice notice-info notice-lg">
        		<strong>Título de Publicación</strong>
        		<hr>
        		<div class="text-right">
	        		&nbsp;
	        		<button type="button" class="btn btn-info btn-modify" [routerLink]="['/']"
				   tooltip="Ver detalles" placement="bottom">
			      	<i class="far fa-eye"></i>
			  		</button>
			  		&nbsp;
				   <button type="button" class="btn btn-primary btn-modify" (click)="modify(template2)"
				   tooltip="Modificar la publicación" placement="bottom">
			      	<i class="fas fa-pencil-alt"></i>
			  		</button>
			  		&nbsp;
			  		<button type="button" class="btn btn-danger btn-delete" (click)="delet(template3)"
			  		tooltip="Eliminar la publicación" placement="bottom">
			      	<i class="fas fa-trash-alt"></i>
			  		</button>
        		</div>
    		</div>
		</div>
</div>

 	<!--Modal para crear la publicación-->
	 <ng-template #template1>
	  <div class="modal-header">
	    <h4 class="modal-title pull-left">Crear nueva publicación</h4>
	    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef1.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">

			<div class="container">

				<div class="row">
						<div class="col-sm-6">
								<!--Foto-->
								<div class="text-center">
										<img class="img-fluid img-circle img-thumbnail profile-pic" *ngIf="auth.getUserDetails()?.image" src="{{auth.getUserDetails()?.image}}">
       									<img class="img-fluid profile-pic" *ngIf="!auth.getUserDetails()?.image" src="/assets/images/sin-perfil.png">
										<h6>Seleccione la foto para el producto</h6><br>

										<div class="container">
												<!--Barra de progreso-->
												<progressbar [value]="uploadProgress| async" type="primary" [striped]="true" [animate]="true"></progressbar>

												<!--Muestra el progreso de la barra-->
												<div class="item">
														Progress: {{ (uploadProgress | async) / 100 | percent }}
												</div>
												<br>

												<!--Se sube una nueva foto para el usuario-->
												<div class="item">
														<!--Selecciona un archivo .png o .jpg-->
														<input #inputFile class="hidden" type="file" (change)="upload($event)" accept=".png,.jpg">
														<!--Botón para poner en funcionamiento el input-->
														<button type="button" class="btn btn-lg btn-success" (click)="inputFile.click()">
														Subir foto
														<i class="fas fa-upload"></i>
												</button>
												</div>
										</div>
										<hr>

								</div>
						</div>
						<div class="col-sm-6">
								<div class="tab-content">
										<form #cf="ngForm" class="form" id="CreateForm">
												<div class="form-group">
														<div class="col-xs-6">
																<label for="name"><h4>Título</h4></label>
																<input [(ngModel)]="newProduct.name" #name="ngModel" ngModel type="text" class="form-control" name="name" id="name" placeholder="Escribe un título...">
														</div>
												</div>
												<div class="form-group">
														<div class="col-xs-6">
																<label for="descripcion"><h4>Descripción</h4></label>
																<textarea [(ngModel)]="newProduct.description" #descripcion="ngModel" ngModel type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Escribe aquí de qué trata tu problema..."></textarea>
														</div>
												</div>

												<div class="form-group text-center">
													<button class="btn btn-primary" (click)="createProduct(cf)" type="submit">Crear Publicación
														<i class="fas fa-pencil-alt"></i>
													</button>
													<br><br>
													<button class="btn btn-cancelar btn-danger" (click)="modalRef1.hide()">Cancelar
														<i class="far fa-times-circle"></i>
													</button>
												</div>
										</form>
								</div>
						</div>
				</div>
		</div>

	  </div>
	</ng-template>

	<!--Modal para modificar la publicación-->
	<ng-template #template2>
	  <div class="modal-header">
	    <h4 class="modal-title pull-left">Modificar publicación</h4>
	    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">

			<div class="container">

				<div class="row">
						<div class="col-sm-6">
								<!--Foto-->
								<div class="text-center">
										<img class="img-fluid img-circle img-thumbnail profile-pic" *ngIf="auth.getUserDetails()?.image" src="{{auth.getUserDetails()?.image}}">
       									<img class="img-fluid profile-pic" *ngIf="!auth.getUserDetails()?.image" src="/assets/images/sin-perfil.png">
										<h6>Seleccione una nueva foto</h6>
										<br>

										<div class="container">
												<!--Barra de progreso-->
												<progressbar [value]="uploadProgress| async" type="primary" [striped]="true" [animate]="true"></progressbar>

												<!--Muestra el progreso de la barra-->
												<div class="item">
														Progress: {{ (uploadProgress | async) / 100 | percent }}
												</div>
												<br>

												<!--Se sube una nueva foto para el usuario-->
												<div class="item">
														<!--Selecciona un archivo .png o .jpg-->
														<input #inputFile class="hidden" type="file" (change)="upload($event)" accept=".png,.jpg">
														<!--Botón para poner en funcionamiento el input-->
														<button type="button" class="btn btn-lg btn-success" (click)="inputFile.click()">
														Subir foto
														<i class="fas fa-upload"></i>
												</button>
												</div>
										</div>
										<hr>

								</div>
						</div>
						<div class="col-sm-6">
								<div class="tab-content">
										<form #f="ngForm" class="form" id="ProductForm">
												<div class="form-group">
														<div class="col-xs-6">
																<label for="name"><h4>Título</h4></label>
																<input [(ngModel)]="nameValue" #name="ngModel" ngModel type="text" class="form-control" name="name" id="name" placeholder="Escribe un título...">
														</div>
												</div>
												<div class="form-group">
														<div class="col-xs-6">
																<label for="descripcion"><h4>Descripción</h4></label>
																<textarea [(ngModel)]="descriptionValue" #descripcion="ngModel" ngModel type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Escribe aquí de qué trata tu problema..."></textarea>
														</div>
												</div>

												<div class="form-group text-center">
														<div class="col-xs-12">
																<br>
																<button class="btn btn-primary" (click)="updateProduct(f)" type="submit">Actualizar
																				<i class="fas fa-sync-alt"></i>
																</button>
																<br><br>
																<button class="btn btn-cancelar btn-danger" (click)="modalRef2.hide()">Cancelar
																				<i class="far fa-times-circle"></i>
																</button>
														</div>
												</div>
										</form>
								</div>
						</div>
				</div>
		</div>

	  </div>
	</ng-template>

	<!--Modal para eliminar la publicación-->
	<ng-template #template3>
	  <div class="modal-header">
	    <h4 class="modal-title pull-left">Eliminar publicación</h4>
	    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef3.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
		<div class="modal-body">
			¿Desea borrar de forma permanente la publicación seleccionada?
			<br><br>
			<div class="text-center">
				<button (click)="delet()" class="btn btn-success" type="button">Sí</button>
				&nbsp;
				<button (click)="modalRef3.hide()" class="btn btn-danger btn-cancelar" type="button">No</button>
			</div>
		</div>
	</ng-template>
