<div class="container">
    <h1 class="text-center">Mis Publicaciones</h1>
    <br>

    <!--Agregue un nuevo post-->
    <div class="containet text-center">
       	<button type="button" class="btn btn-success btn-create" (click)="create(template1)"
        	tooltip="Agregar nueva publicación" placement="bottom">
      		<i class="fas fa-plus fa-2x"></i>
  		</button>
    </div>
    <hr>

    <!--Visualización de tarjetas-->
    <div class="container-fluid" *ngFor="let post of pposts">
    	<div class="notice notice-info notice-lg">
        	<strong>{{post.title}}</strong>
        	<hr>
        	<img *ngIf="post.image!=''" src="{{post.image}}" class="img-fluid text-center avatar">
        	<img *ngIf="post.image==''" src="/assets/images/no-image.png" class="img-fluid text-center avatar">
        	<br>
        	<p>{{ post.description }}</p>

        	<div class="text-right">
				&nbsp;
				<button type="button" class="btn btn-info btn-answer" 
					(click)="viewAnswers(template4, post)" tooltip="Ver respuestas" placement="bottom">
				   <i class="far fa-eye"></i>
			   </button>
			   &nbsp;
				<button type="button" class="btn btn-primary btn-modify" (click)="modify(template2, post)"
				   tooltip="Modificar la publicación" placement="bottom">
			      	<i class="fas fa-pencil-alt"></i>
			  	</button>
			  	&nbsp;
			  	<button type="button" class="btn btn-danger btn-delete" (click)="delet(template3, post)"
			  		tooltip="Eliminar la publicación" placement="bottom">
			      	<i class="fas fa-trash-alt"></i>
			  	</button>
        	</div>
    	</div>
	<br><br>    		
	</div>

</div>

<!--Modal para crear la publicación-->
<ng-template #template1>
	<div class="modal-header">
	    <h4 class="modal-title pull-left">Crear nueva publicación</h4>
	    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef1.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	</div>

	<div class="modal-body">
		<div class="container text-center">	
			<div class="tab-content">
				
				<div class="text-center">
					<img *ngIf="this.imageUrl==null" src="/assets/images/no-image.png" class="img-fluid img-circle img-thumbnail profile-pic img-content">
                    <img *ngIf="this.imageUrl!=null" src={{this.imageUrl}} class="img-fluid img-circle img-thumbnail profile-pic img-content">
					<h6>Seleccione la foto para el producto</h6>
					<br>
						
					<div class="container">

						<!--Barra de progreso-->
						<progressbar [value]="uploadProgress| async" type="primary" [striped]="true" [animate]="true"></progressbar>

						<!--Muestra el progreso de la barra-->
						<div class="item">
								Progress: {{ (uploadProgress | async) / 100 | percent }}
						</div>
						<br>
						<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
            			<p>La foto se cargó correctamente</p>
        				</div>

						<!--Se sube una nueva foto para el usuario-->
						<div class="item">

							<input #inputFile class="hidden" type="file" (change)="upload($event)" accept=".png,.jpg">
							<button type="button" class="btn btn-lg btn-success" (click)="inputFile.click()">
								Subir foto
							<i class="fas fa-upload"></i>
							</button>
						</div>
					</div>
				</div>
				<hr>
								
				<form #f="ngForm" novalidate="" method="POST">
					
					<div class="form-group">
						<div class="col-xs-6">
								<label for="name"><h4>Título</h4></label>
								<input type="text"  name="title" class="form-control"  placeholder="Nombre del Post" [(ngModel)]="newPost.title">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
								<label for="descripcion"><h4>Descripción</h4></label><br>
								<textarea type="text" name="description" placeholder="Descripcion del Post" [(ngModel)]="newPost.description"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-6">
								<label for="descripcion"><h4>Categoria</h4></label><br>
								<select class="browser-default custom-select" name="categoria" [(ngModel)]="newPost.categoria" >
									<option value="Telefono">Telefono</option>
									<option value="PC">PC</option>
									<option value="Tableta">Tableta</option>
									<option value="Laptop">Laptop</option>
									<option value="Consola">Consola</option>
									<option value="Otros">Otros</option>
								  </select>
						</div>
					</div>


					<hr>

					<div class="text-center">
						<button class="btn btn-primary" value="POST" (click)="addpost(f)" type="submit">Crear Publicación
							<i class="fas fa-pencil-alt"></i>
						</button>
						<br><br>
						<button class="btn btn-cancelar btn-danger" (click)="modalRef1.hide()">Cancelar
							<i class="far fa-times-circle"></i>
						</button>
					</div>
			</form>
	</div>

		</div>

	  </div>
</ng-template>

<!--Modal para modificar la publicación-->
<ng-template #template2>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Modificar publicación</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
	  		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="container text-center">
			<div class="tab-content">
				
				<form #f="ngForm" class="form" id="ProductForm">
					<img *ngIf="selectedPost.image==''" src="/assets/images/no-image.png" class="img-fluid img-circle img-thumbnail profile-pic img-content">
                    <img *ngIf="selectedPost.image!=''" src={{selectedPost.image}} class="img-fluid img-circle img-thumbnail profile-pic img-content">
					<h6>Seleccione la foto para el producto</h6>
					<br>

					<div class="container">
						<!--Barra de progreso-->
						<progressbar [value]="uploadProgress| async" type="primary" [striped]="true" [animate]="true"></progressbar>

						<!--Muestra el progreso de la barra-->
						<div class="item">
								Progress: {{ (uploadProgress | async) / 100 | percent }}
						</div>
						<br>
						<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
            			<p>La foto se cargó correctamente</p>
        				</div>
						<!--Se sube una nueva foto para el usuario-->
						<div class="item">
								<!--Selecciona un archivo .png o .jpg-->
								<input #inputFile class="hidden" type="file" (change)="upload($event)" accept=".png,.jpg">
								<!--Botón para poner en funcionamiento el input-->
								<button type="button" class="btn btn-lg btn-success" (click)="inputFile.click()">
								Subir foto
								<i class="fas fa-upload"></i>
								</button>
						</div>
					</div>
					<hr>									
					<div class="form-group">
						<div class="col-xs-6">
								<label for="name"><h4>Título</h4></label>
								<input [(ngModel)]="nameValue" #name="ngModel" ngModel type="text" class="form-control" name="name" id="name" placeholder="{{selectedPost.title}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<label for="descripcion"><h4>Descripción</h4></label><br>
							<textarea [(ngModel)]="descriptionValue" #descripcion="ngModel" ngModel type="text" class="form-control" name="descripcion" id="descripcion" placeholder="{{selectedPost.description}}"></textarea>
						</div>
					</div>
					<hr>
					<div class="form-group text-center">
						<div class="col-xs-12">
							<br>
							<button class="btn btn-primary" (click)="update(f)" type="submit">Actualizar
											<i class="fas fa-sync-alt"></i>
							</button>
							<br><br>
							<button class="btn btn-cancelar btn-danger" (click)="modalRef2.hide()">Cancelar
											<i class="far fa-times-circle"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</ng-template>

<!--Modal para eliminar la publicación-->
<ng-template #template3>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Eliminar publicación</h4>
	    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef3.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	</div>
	<div class="modal-body">
		¿Desea borrar de forma permanente la publicación seleccionada?
		<br><br>
		<div class="text-center">
			<button (click)="delete()" class="btn btn-success" type="button">Sí</button>
			&nbsp;
			<button (click)="modalRef3.hide()" class="btn btn-danger btn-cancelar" type="button">No</button>
		</div>
	</div>
</ng-template>




<!--Modal para ver respuestas-->
<ng-template #template4>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Respuestas de la publicación</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef4.hide()">
	  		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div *ngIf="this.aanswer.length == 0" class="container-fluid text-center">
			<strong>No existen respuestas para la publicación</strong>
			<br><br>
				<i class="fas fa-frown fa-5x"></i>
		</div>

		<div class="container-fluid" *ngFor="let answer of aanswer">
	    	<div class="notice notice-success notice-md">

				<!--Respuesta bloqueda (pago con Paypal)-->
				<div *ngIf="!answer.unlocked">
					<button class="btn btn-danger btn-unlock" 
						(click)="unlocked(answer)">
						<i class="fas fa-lock"></i>&nbsp;
						<strong>
							No se puede acceder a la respuesta, por favor asegúrese de desbloquearla.
						</strong>
					</button>
				</div>
				<div *ngIf="answer.unlocked">
					<strong>{{answer.text | slice:0:20}} ...</strong>
					<div class="text-right">
						<button class="btn btn-success btn-answer" 
							(click)="viewAnswer(template5,answer)" tooltip="Ver en detalle" 
							placement="bottom">
							<i class="fas fa-eye"></i>
						</button>&nbsp;
						<button class="btn btn-primary btn-answer" *ngIf="!answer.valorated"
							(click)="valorate(answer)" tooltip="¡Solucionó el problema!" 
							placement="bottom">
							<i class="fas fa-heart"></i>
						</button>&nbsp;
						<button class="btn btn-danger btn-answer" *ngIf="answer.valorated"
							(click)="notvalorate(answer)" tooltip="¡No me sirvió!" 
							placement="bottom">
							<i class="fas fa-heart-broken"></i>
						</button>						
					</div>
				</div>	
	    	</div>
	    	<hr>	
		</div>

	</div>
</ng-template>

<!--Modal para detallar respuestas-->
<ng-template #template5>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Detalles de la publicación</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef5.hide()">
	  		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

	    	<div class="notice notice-success notice-md">
				<!--Respuesta desbloqueada (pago realizado)-->
				<div class="container-fluid text-center" *ngFor="let user of uuser">
					<img *ngIf="user.image==null" src="/assets/images/sin-perfil.png" class="img-fluid img-circle img-thumbnail profile-pic img-content-user">
					<img *ngIf="user.image!=null" src="{{user.image}}" class="img-fluid img-circle img-thumbnail profile-pic img-content-user">
					<strong>{{ user.username }}</strong>
					<hr>
					<p>{{ selectedAnswer.text }}</p>
					<hr>
					<strong>Precio pagado:</strong>
					<p>{{ selectedAnswer.price | currency: 'USD'}}</p>
					<hr>
					<div *ngIf="selectedAnswer.valorated">
						<button class="btn btn-success disabled btn-unlock">Esta respuesta resolvió tu problema</button>
						<br><br>

						<div *ngIf="!done">
							<p>¡Hazle saber a <b>{{ user.username }}</b> lo útil que te fue su respuesta!</p>
							<br>	
						  <rating [max]="5" [(ngModel)]="y" [customTemplate]="tt"></rating>
						  <ng-template #tt let-i="index" let-v="value">
						    <button class="btn btn-answer btn-{{i < v ? 'warning' : 'default'}}"
						    	(click)="rateUser(i+1)">
						      {{i < v ? '&#9733;' : '&#9734;'}}
						    </button>
						  </ng-template>
						</div>

						<div *ngIf="done">
						  <strong>¡Has calificado a {{user.username}} con {{x}} estrellas!</strong>
						</div>

					</div>
					<div *ngIf="!selectedAnswer.valorated">
						<button class="btn btn-danger disabled btn-unlock">Esta respuesta NO resolvió tu problema</button>
					</div>
				</div>									    	
	        	
	    	</div>	

	</div>
</ng-template>

