<!--Visualización de tarjetas-->
<div class="container-fluid" *ngFor="let post of pposts">

		<div *ngIf="post.id_owner != this.auth.getUserDetails().id_user">
			<div class="notice notice-info notice-lg">
		    	<strong>{{post.title}}</strong>
		    	<hr>
		    	<br>
		    	<img *ngIf="post.image==''" src="/assets/images/no-image.png" class="img-fluid avatar">
		        <img *ngIf="post.image!=''" src={{post.image}} class="img-fluid avatar">
		    	<br>
		    	<p>{{ post.description }}</p>
		    	<div class="text-right">
					&nbsp;
					<button type="button" class="btn btn-primary btn-modify" (click)="reply(template1, post)"
					   tooltip="Responder" placement="bottom">
				      	<i class="fas fa-reply"></i>
				  	</button>
				  	&nbsp;
		    	</div>
			</div>
		</div>

</div>

	<!--Modal para responder a una publicación-->
<ng-template #template1>
	<div class="modal-header">
	    <h4 class="modal-title pull-left">Crear nueva publicación</h4>
	    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef1.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	</div>

	<div class="modal-body">
		<div class="container text-center">	
			<div class="tab-content">
												
				<form #f="ngForm" novalidate="" method="POST">
					
					<div class="form-group">
						<div class="col-xs-6">
								<label for="name"><h4>Escribe tu respuesta</h4></label>
								<textarea type="text"  name="text" class="form-control"  placeholder="Tu respuesta..." [(ngModel)]="newAnswer.text">	
								</textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
								<label for="descripcion"><h4>Precio</h4></label><br>
								<input type="number" name="price" placeholder="0.00$" [(ngModel)]="newAnswer.price">
						</div>
					</div>
					<hr>

					<div class="text-center">
						<button class="btn btn-primary" value="POST" (click)="addreply(f)" type="submit">Publicar respuesta
							<i class="fas fa-pencil-alt"></i>
						</button>
						<br><br>
						<button class="btn btn-cancelar btn-danger" (click)="modalRef1.hide()">Cancelar
							<i class="far fa-times-circle"></i>
						</button>
					</div>
			</form>
	</div>

		</div>

	  </div>
</ng-template>