<!--Visualización de tarjetas-->
<div class="container-fluid text-center">
	<button type="button" class="btn btn-info" (click)="this.getPhones()">
        <b>Teléfonos/Tablet&nbsp;</b>
        <i class="fas fa-mobile-alt"></i>   
    </button>
    &nbsp;
    <button type="button" class="btn btn-danger" (click)="this.getPcs()">
        <b>PC/Laptop&nbsp;</b>
        <i class="fas fa-laptop"></i>   
    </button>
    &nbsp;
    <button type="button" class="btn btn-info" (click)="this.getConsoles()">
        <b>Consolas&nbsp;</b>
        <i class="fas fa-gamepad"></i>
    </button>
    &nbsp;
    <button type="button" class="btn btn-danger" (click)="this.getOthers()">
        <b>Otros&nbsp;</b>
        <i class="fas fa-microchip"></i>   
    </button>
    &nbsp;
    <button type="button" class="btn btn-info" (click)="this.getAll()">
        <b>Sin Filtro&nbsp;</b>
        <i class="fas fa-ban"></i>   
    </button>    
</div>
<br>

<div class="container-fluid" *ngFor="let post of pposts">	
	<div *ngIf="(!this.phone)&&(!this.console)&&(!this.pc)&&(!this.other)">
		<div *ngIf="(post.id_owner != this.auth.getUserDetails().id_user)">
			<div class="notice notice-info notice-lg">
		    	<strong>{{post.title}}</strong>
		    	<hr>
		    	<br>
		    	<img *ngIf="post.image==''" src="/assets/images/no-image.png" class="img-fluid avatar">
		        <img *ngIf="post.image!=''" src={{post.image}} class="img-fluid avatar">
		    	<br>
		    	<p>{{ post.description }}</p>
		    	<div class="text-right">
					&nbsp;
					<button type="button" class="btn btn-primary btn-modify" (click)="reply(template1, post)"
					   tooltip="Responder" placement="bottom">
				      	<i class="fas fa-reply"></i>
				  	</button>
				  	&nbsp;
		    	</div>
			</div>
		</div>
	</div>

	<div *ngIf="this.phone">
		<div *ngIf="(post.id_owner != this.auth.getUserDetails().id_user) && (post.categoria=='Telefono')">
			<div class="notice notice-info notice-lg">
		    	<strong>{{post.title}}</strong>
		    	<hr>
		    	<br>
		    	<img *ngIf="post.image==''" src="/assets/images/no-image.png" class="img-fluid avatar">
		        <img *ngIf="post.image!=''" src={{post.image}} class="img-fluid avatar">
		    	<br>
		    	<p>{{ post.description }}</p>
		    	<div class="text-right">
					&nbsp;
					<button type="button" class="btn btn-primary btn-modify" (click)="reply(template1, post)"
					   tooltip="Responder" placement="bottom">
				      	<i class="fas fa-reply"></i>
				  	</button>
				  	&nbsp;
		    	</div>
			</div>
		</div>
	</div>	
	<div *ngIf="this.console">
		<div *ngIf="(post.id_owner != this.auth.getUserDetails().id_user) && (post.categoria=='Consola')">
			<div class="notice notice-info notice-lg">
		    	<strong>{{post.title}}</strong>
		    	<hr>
		    	<br>
		    	<img *ngIf="post.image==''" src="/assets/images/no-image.png" class="img-fluid avatar">
		        <img *ngIf="post.image!=''" src={{post.image}} class="img-fluid avatar">
		    	<br>
		    	<p>{{ post.description }}</p>
		    	<div class="text-right">
					&nbsp;
					<button type="button" class="btn btn-primary btn-modify" (click)="reply(template1, post)"
					   tooltip="Responder" placement="bottom">
				      	<i class="fas fa-reply"></i>
				  	</button>
				  	&nbsp;
		    	</div>
			</div>
		</div>
	</div>
	<div *ngIf="this.pc">
		<div *ngIf="(post.id_owner != this.auth.getUserDetails().id_user) && (post.categoria=='PC')">
			<div class="notice notice-info notice-lg">
		    	<strong>{{post.title}}</strong>
		    	<hr>
		    	<br>
		    	<img *ngIf="post.image==''" src="/assets/images/no-image.png" class="img-fluid avatar">
		        <img *ngIf="post.image!=''" src={{post.image}} class="img-fluid avatar">
		    	<br>
		    	<p>{{ post.description }}</p>
		    	<div class="text-right">
					&nbsp;
					<button type="button" class="btn btn-primary btn-modify" (click)="reply(template1, post)"
					   tooltip="Responder" placement="bottom">
				      	<i class="fas fa-reply"></i>
				  	</button>
				  	&nbsp;
		    	</div>
			</div>
		</div>
	</div>
	<div *ngIf="this.other">
		<div *ngIf="(post.id_owner != this.auth.getUserDetails().id_user) && (post.categoria=='Otros')">
			<div class="notice notice-info notice-lg">
		    	<strong>{{post.title}}</strong>
		    	<hr>
		    	<br>
		    	<img *ngIf="post.image==''" src="/assets/images/no-image.png" class="img-fluid avatar">
		        <img *ngIf="post.image!=''" src={{post.image}} class="img-fluid avatar">
		    	<br>
		    	<p>{{ post.description }}</p>
		    	<div class="text-right">
					&nbsp;
					<button type="button" class="btn btn-primary btn-modify" (click)="reply(template1, post)"
					   tooltip="Responder" placement="bottom">
				      	<i class="fas fa-reply"></i>
				  	</button>
				  	&nbsp;
		    	</div>
			</div>
		</div>
	</div>								
</div>
<!--ng-template #elseBlock>
	<div class="text-center">
		<h2>No existen posts en la categoría</h2>
		<br><br>
		<i class="fas fa-frown fa-5x"></i>
		<br><br>
	</div>
</ng-template-->


<!--Modal para responder a una publicación-->
<ng-template #template1>
	<div class="modal-header">
	    <h4 class="modal-title pull-left">Crear nueva publicación</h4>
	    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef1.hide()">
	      <span aria-hidden="true">&times;</span>
	    </button>
	</div>

	<div class="modal-body">
		<div class="container text-center">	
			<div class="tab-content">
												
				<form #f="ngForm" novalidate="" method="POST">
					
					<div class="form-group">
						<div class="col-xs-6">
								<label for="name"><h4>Escribe tu respuesta</h4></label>
								<textarea type="text"  name="text" class="form-control"  placeholder="Tu respuesta..." [(ngModel)]="newAnswer.text">	
								</textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
								<label for="descripcion"><h4>Precio</h4></label><br>
								<input type="number" name="price" placeholder="0.00$" [(ngModel)]="newAnswer.price">
						</div>
					</div>
					<hr>

					<div class="text-center">
						<button class="btn btn-primary" value="POST" (click)="addreply(f)" type="submit">Publicar respuesta
							<i class="fas fa-pencil-alt"></i>
						</button>
						<br><br>
						<button class="btn btn-cancelar btn-danger" (click)="modalRef1.hide()">Cancelar
							<i class="far fa-times-circle"></i>
						</button>
					</div>
			</form>
	</div>

		</div>

	  </div>
</ng-template>
