<br><br>
<div class="py-5 text-center text-white">
    <div class="container-fluid">
      <div class="row">
        <div class="p-5 col-lg-6 col-10 mx-auto login-box">
          <img src="/assets/images/logo.png" class="avatar text-center" alt="Logo FixLab">
          <br>
          <h1>¡Únete a nosotros!</h1>
          <form (ngSubmit)="register(f)" #f="ngForm" novalidate="" method="POST">

            <!-- Nombre de usuario -->           
                <input type="text" id="username" name="username" class="form-control" #username="ngModel" [(ngModel)]="credentials.username" [ngClass]="{'is-invalid':username.errors!=null && username.touched, 'is-valid':username.errors==null}" required minlength="3" placeholder="Nombre de usuario">
                <!--Si no es válido-->
                <div class="invalid-feedback">
                    <div *ngIf="username.errors?.required">
                        <small>Este campo es requerido.</small>
                    </div>
                    <div *ngIf="username.errors?.minlength">
                        <small>El nombre debe tener al menos {{username.errors.minlength.requiredLength}} carácteres.</small>
                    </div>
                </div>
                <!--Si es válido-->
                <div *ngIf="username.valid" class="valid-feedback"></div>
            <hr>            

            <!--Email-->
            <input type="text" id="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="credentials.email"
          [ngClass]= "{'is-invalid':email.errors!=null && email.touched, 'is-valid':email.errors==null}" 
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Correo electrónico">
            
            <!--Si es válido-->
            <div *ngIf="email.valid" class="valid-feedback"></div>
            <!--Si es inválido-->
            <div class="invalid-feedback">
              <div *ngIf="email.errors?.required">
                  <small>Este campo es requerido.</small>
              </div>
              <div *ngIf="email.errors?.pattern">
                  <small>Se debe introducir un patrón de email válido.</small>
              </div>
            </div>
            <hr>
            
            <input type="password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)]="credentials.password" placeholder="Password" [ngClass]= "{'is-invalid':password.errors!=null && password.touched, 'is-valid':password.errors==null}" required minlength="8">
            <!--Si es válido-->
            <div *ngIf="email.valid" class="valid-feedback"></div>
            <!--Si es inválido-->
            <div class="invalid-feedback">
                <div *ngIf="password.errors?.required">
                    <small>Este campo es requerido.</small>
                </div>
                <div *ngIf="password.errors?.minlength">
                    <small>El nombre debe tener al menos {{password.errors.minlength.requiredLength}} carácteres.</small>
                </div>
            </div>              
            <hr>


            <input class="btn btn-primary btn-block"  value="Registrase" [disabled]="!f.valid" type="submit" >
            <input class="btn btn-danger btn-block" type="button" value="Volver" [routerLink]="['/']">
            <hr>

            <a [routerLink]="['/login']" routerLinkActive="active">¿Ya dispone de una cuenta con nosotros?</a>
          </form>
        </div>
      </div>
    </div>
  </div>

